<section id="home" class="home">

    <!-- Section title -->
    <h2 class="sr-only">Home</h2>

    <div class="l-align-both">

        <figure class="logo">
            <img src="/static/Blog/img/logo/yellowmoon_logo_01.svg" title="YellowMoon Logo"
                 alt="Cartoon illustration of the moon">
            <figcaption class="sr-only">YellowMoon Logo</figcaption>
        </figure>

        <span class="h3 -white" style="color: #fff;">有美人兮，见之不忘</span>

        <span class="h1 -yellow" style="color:#FFE600;">一日不见兮，思之如狂</span>

        <a href="javascript:void(0)" class="button">小秀秀</a>

        <a href="#about" class="chevron-down smoothScroll">
            <img class="icon" src="/static/Blog/img/chevron_down_white.svg" title="Scroll down"
                 alt="Chevron pointing downwards">
            <span class="sr-only">Scroll down</span>
        </a>

    </div>

</section> <!-- /.home -->