
{% extends 'base.html' %}

 {% block mainBody %}

    <link rel="stylesheet" href="/static/blogdetails/css/assets/normalize.css" type="text/css">
    <link href="/static/blogdetails/css/assets/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/static/blogdetails/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/static/blogdetails/css/main.css" type="text/css">
    <link href="/static/blogdetails/css/responsive.css" rel="stylesheet" type="text/css">
    <script src="/static/blogdetails/js/assets/modernizr-2.8.3.min.js" type="text/javascript"></script>

    <script src="/static/blogdetails/js/assets/plugins.js" type="text/javascript"></script>
    <script src="/static/blogdetails/js/assets/bootstrap.min.js" type="text/javascript"></script>
    <script src="/static/blogdetails/js/main.js" type="text/javascript"></script>
    <script src="/static/blogdetails/js/jquery.nicescroll.min.js" type="text/javascript"></script>
    	<main class="main-wrapper-inner blog-wrapper" id="container">

            	<div class="container">

                	<div class="wrapper-inner">



                    	<article id="post" class="post">

                        	<figure>

                        		<img src="/media/{{ article.img }}" alt="" class="img-responsive"/>

                        	</figure>

                            <section class="inner-left">

                                <span class="date">{{ article.updatetime }}</span>

                                <p class="cat-pan">in <a href="#">Photography</a>, <a href="#">Creative</a></p>

                            </section>

                            <section class="inner-right">

                            	<header>

                            		<h3>{{ article.title }}</h3>

                                </header>

                            	<p>{{ article.content }}</p>

                            </section>

                            <div class="clearfix"></div>

                        </article>



                        <!-- comments -->

{#                       <div class="comments-pan">#}
{##}
{#                        <h3>3 Comments</h3>#}
{##}
{#                        <ul class="comments-reply">#}
{##}
{#                    	<li>#}
{##}
{#                        	<figure>#}
{##}
{#                            	<img src="/static/blogdetails/images/image-1.jpg" alt="" class="img-responsive"/>#}
{##}
{#                            </figure>#}
{##}
{#                            <section>#}
{##}
{#                                <h4>Anna Greenfield      <a href="#">Reply</a></h4>#}
{##}
{#                                <div class="date-pan">January 26, 2016</div>#}
{##}
{#                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed volutpat eu nibh ultricies semper. Vivamus porta, felis vitae facilisis sodales, felis est iaculis orci, et ornare sem mauris ut turpis. Pellentesque vitae tortor nec tellus hendrerit aliquam. Donec condimentum leo eu ullamcorper scelerisque pellentesque urna rhoncus.#}
{##}
{#                            </section>#}
{##}
{#							<ol class="reply-pan">#}
{##}
{#                            	<li>#}
{##}
{#                                	<figure>#}
{##}
{#                                    	<img src="/static/blogdetails/images/image-2.jpg" alt="" class="img-responsive"/>#}
{##}
{#                                    </figure>#}
{##}
{#                                    <section>#}
{##}
{#                                        <h4>Johnathan Doe  <a href="#">Reply</a></h4>#}
{##}
{#                                        <div class="date-pan">January 26, 2016</div>#}
{##}
{#                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed volutpat eu nibh ultricies semper. Vivamus porta, felis vitae facilisis sodales, felis est iaculis orci, et ornare sem mauris ut turpis. Pellentesque vitae tortor nec tellus hendrerit aliquam. Donec condimentum leo eu ullamcorper scelerisque pellentesque urna rhoncus.#}
{##}
{#                                    </section>#}
{##}
{#                                </li>#}
{##}
{#                            </ol>#}
{##}
{#                        </li>#}
{##}
{#                        <li>#}
{##}
{#                        	<figure>#}
{##}
{#                            	<img src="/static/blogdetails/images/image-3.jpg" alt="" class="img-responsive"/>#}
{##}
{#                            </figure>#}
{##}
{#                            <section>#}
{##}
{#                                <h4>Anna Greenfield  <a href="#">Reply</a></h4>#}
{##}
{#                                <div class="date-pan">January 26, 2016</div>#}
{##}
{#                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed volutpat eu nibh ultricies semper. Vivamus porta, felis vitae facilisis sodales, felis est iaculis orci, et ornare sem mauris ut turpis. Pellentesque vitae tortor nec tellus hendrerit aliquam. Donec condimentum leo eu ullamcorper scelerisque pellentesque urna rhoncus.#}
{##}
{#                            </section>#}
{##}
{##}
{##}
{#                        </li>#}
{##}
{#                    </ul>#}
{##}
{##}
{##}
{#                    <div class="commentys-form">#}
{##}
{#                    	<h4>Leave a comment</h4>#}
{##}
{##}
{##}
{#                        <div class="row">#}
{##}
{#                        	<form action="" method="get">#}
{##}
{##}
{##}
{#                            	<div class="col-xs-12 col-sm-4 col-md-4">#}
{##}
{#                                	<input name="" type="text" placeholder="Whats your name *">#}
{##}
{#                                </div>#}
{##}
{#                                <div class="col-xs-12 col-sm-4 col-md-4">#}
{##}
{#                                	<input name="" type="email" placeholder="Whats your email *">#}
{##}
{#                                </div>#}
{##}
{#                                <div class="col-xs-12 col-sm-4 col-md-4">#}
{##}
{#                                	<input name="" type="url" placeholder="Runing a Website">#}
{##}
{#                                </div>#}
{##}
{#                                <div class="clearfix"></div>#}
{##}
{#                                 <div class="col-xs-12 col-sm-12 col-md-12">#}
{##}
{#                                 	<textarea name="" cols="" rows="" placeholder="Whats in your mind"></textarea>#}
{##}
{#                                </div>#}
{##}
{#                                <div class="text-center">#}
{##}
{#                                	<input name="" type="button" value="Post Comment">#}
{##}
{#                                </div>#}
{##}
{##}
{##}
{##}
{##}
{#                            </form>#}
{##}
{#                        </div>#}
{##}
{##}
{##}
{#                    </div>#}
{##}
{##}
{##}
{#                </div>#}





                    </div>

                </div>

            </main>

{% endblock %}

